# Entorno virtual
.venv/
env/
venv/
# Archivos de configuración de VS Code
.vscode/
# Archivos de caché de Python
__pycache__/
*.pyc
.pytest_cache/
# Archivos de variables de entorno y credenciales
.env
.streamlit/secrets.toml
*.db
*.sqlite3
.streamlit/secrets.toml