# Entorno virtual
.venv/
env/
venv/
# Archivos de configuración de VS Code y Jupyter
.vscode/
.ipynb_checkpoints/
# Archivos de caché de Python
__pycache__/
*.pyc
# Archivos de variables de entorno y credenciales
.env